<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.aedo.aedoAdmin">

    <uses-sdk tools:overrideLibrary="com.google.zxing.client.android" />

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        tools:ignore="ScopedStorage" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_NUMBERS" />

    <application
        android:name=".util.base.MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_aedo_logo"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_config"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_aedo_logo_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AedoAdmin"
        android:usesCleartextTraffic="false"
        tools:replace="android:usesCleartextTraffic"
        tools:targetApi="n">
        <activity
            android:name=".view.notice.NoticeDetailActivity"
            android:exported="false" />
        <activity
            android:name=".view.order.OrderDetailActivity"
            android:exported="false" />
        <activity
            android:name=".view.order.OrderActivity"
            android:exported="false" />
        <activity
            android:name=".view.user.UserActivity"
            android:exported="false" />
        <activity
            android:name=".view.notice.NoticeActivity"
            android:exported="false" />
        <activity
            android:name=".view.list.ListActivity"
            android:exported="false" />
        <activity
            android:name=".view.login.LoginActivity"
            android:exported="false" />
        <activity
            android:name=".view.intro.permission.PermissionActivity"
            android:exported="false" />
        <activity
            android:name=".view.main.MainActivity"
            android:exported="false" />
        <activity
            android:name=".view.intro.SplashActivity"
            android:exported="false" />
        <activity android:name=".util.base.BaseActivity" />
        <activity
            android:name=".util.activity.ActivityController"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="com.naver.maps.map.CLIENT_ID"
            android:value="@string/client_id" />
    </application>

</manifest>